.div1{
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 0% auto;
    margin-top: 200px ;

    /* transform: scale(1.5); */
    transition: 3s;

}

  /* now lets checkout transform property  */
.div1:hover{
    transform: scale(1.5);
    transform: rotate(360deg);
    transform: skew(45deg);
    transform: translate(150px, 200px);
    transform: scale(3) rotate(360deg);
}