.main{
    background-color: tomato;
    width: 200px;
    height: 200px;
    margin: 0% auto;

    transition-property: width;
    transition-duration: 2s;
    transition-delay: 1s;

    /* we can do this in oneline  */
    transition: width 2s, height 2s;
}

.main:hover{
    width: 400px;
    height: 200px;
}