.main{
    background-color: pink;
    width: 80%;
    margin: 0% auto;
    height: 400px;

    position: relative;
}

.details{
    background-color: aqua;
    width: 200px;
    height: 200px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}