#nav-menu{
   width: 500px;
   height: 70px;
   background-color: aqua;
   margin: 0 auto;
}

#nav-menu ul{

}

#nav-menu ul li{
    list-style-type: none;
    margin: 20px;
    float: left;
}

#nav-menu ul li a{
    text-decoration-line: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

#nav-menu ul li a:hover{
    color: green;
}